<body>
<!-- <h1>Title</h1> -->
<p>
  <strong>Title:</strong>
<%= @book.title %>
<!-- <h1>Body</h1> -->
</p>
<p>
  <strong>Body:</strong>

<%= @book.body %>
</p>
<%= link_to "Show", book_path(@book.id) %> 
|
<%= link_to "Back", books_path(@book.id) %> 
</p>
</body>
</html>


